/* Universal selector setting the container box size, padding, and margins */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* body element sets the background color  */
body {
    background-color: #d9dcd6;
}
/* class selector setting the font, background color, padding and the font color */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* h1 of class header sets the display type and the font size of heading 1*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* class seo within h1 changes the color of the class, making seo on heading a different color*/
.header h1 .seo {
    color: #d9dcd6;
}
/* division of class header sets the padding, margin, float, font and font size  */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* unordered items in the division of class header sets the list style to none */
.header div ul {
    list-style-type: none;
}
/* listed items falling under ul and div with class header sets the display type and margin */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* all element a changes to the color and decoration set */
a {
    color: #ffffff;
    text-decoration: none;
}
/* makes font of element p to 16px */
p {
    font-size: 16px;
}
/* class hero uses a background image and sets the height,width,position, and margin of image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* class content makes content take 75% of the screen sets the display and the size of the margin on the left */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* class benefits sets the formatting for the different blocks on the page */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* sets the font color for the benefit boxes and the margin  */
.type1 {
    margin-bottom: 32px;
    color: #ffffff;
}
/* makes the heading aligned and have a margin for the heading in each of the benefit blocks */
.type1 h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* makes the images in the benefit blocks have a margin and a specific width, and to display in block */
.type1 img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* class servicess sets the font,background,padding,margins for the side bars next to the benefit blocks */
.services {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* images of class services sets the images in the side bar to height of 200px */
.services img {
    max-height: 200px;
}
/* heading 2 of class services sets the margin to 20px and the font to 36px */
.services h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* element footer changes the padding, font, and aligns the text to the center of the page */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* heading 2 inside the footer changes font size to 20px */
footer h2 {
    font-size: 20px;
}
